.brand-main-menu {
  margin-top: 16px;
  overflow: hidden;
  position: relative;

  @include mobile-above {
    grid-template-columns: repeat(3, 1fr);
    height: 160px;
    overflow: hidden;
    padding-inline: 24px;
    column-gap: 24px;
    margin-top: 24px;
    margin-left: 0;
  }

  @include tablet-above {
    padding-inline: 32px;
    column-gap: 32px;
  }

  &--height {
    @include mobile-above {
      height: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-white);
    padding: 16px;
    height: 72px;
    border: 1px solid var(--color-gray-white);
    border-radius: 6px;
    width: 240px;
    flex-shrink: 0;

    @include mobile-above {
      width: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;

    @include mobile-above {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      row-gap: 16px;
      column-gap: 24px;
      padding-left: 16px;
      padding-left: 0;
    }

    @include tablet-above {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__title {
    @include mobile-above {
      padding-inline: 24px;
    }
  }

  &::after {
    content: '';
    height: 100%;
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 1;
    background-image: linear-gradient(
      270deg,
      var(--color-beige-bg) 0.04%,
      rgba(248, 248, 248, 0) 100%
    );
  }

  &--margin--left {
    margin-left: 16px;
    @include mobile-above {
      margin-left: 0;
    }
  }
}
