.button-order {
  border-radius: 16px;
  background: var(--color-pink) url(../img/white-arrow.svg) no-repeat 85% 50%;
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  padding: 8px 40px 8px 15px;
  letter-spacing: -0.15px;
}
