.language-block {
  &__button {
    cursor: pointer;
    &:hover {
      transition-duration: var(--transition-duration);
      opacity: 0.5;
    }
  }

  &__input:checked + .language-block__text {
    color: var(--color-gray-med);
  }
}
