.main-menu {
  position: relative;

  &__list {
    &::after {
      content: "";
      height: 100%;
      width: 24px;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      background: linear-gradient(
        270deg,
        var(--color-beige-bg) 0.04%,
        rgba(248, 248, 248, 0) 100%
      );
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid transparent;
    border-left-color: var(--color-turquoise-bright);
    padding-left: 12px;
    line-height: 35px;
    margin-top: 24px;
    font-weight: 900;
  }

  &__list {
    margin-left: 16px;
    margin-top: 24px;
    display: flex;
    overflow: scroll;

    @include mobile-above {
      margin-top: 32px;
    }

    @include tablet-above {
      overflow: visible;
      flex-wrap: wrap;
      padding-inline: 22px;
      margin-top: 8px;
      margin-left: 32px;
      padding-left: 0;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    padding: 6px 15px;
    display: inline-block;
    border: 2px solid transparent;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--color-gray-med);

    @include tablet-above {
      padding-left: 22px;
      padding-right: 19px;
      box-sizing: border-box;
    }

    &:hover {
      background-color: var(--color-white);
      border-color: var(--color-turquoise-bright);
      border-radius: 6px;
    }
  }
}
