.modal {
  width: 320px;
  height: 100%;
  position: absolute;
  z-index: 200;
  top: 0;

  @include desktop-above {
    width: 515px;
    padding-left: 55px;
  }

  &--right {
    right: 0;
  }

  &__inner {
    padding: 32px;
    background-color: var(--color-white);
    box-shadow: -7px 0 52px 0 var(--color-gray-border),
      -2px 0 4px 0 var(--color-gray-border);
    min-height: 100vh;
    height: 100%;
  }

  &__title {
    margin-bottom: 0;
    border: 4px solid transparent;
    border-left-color: var(--color-turquoise-bright);
    padding-left: 12px;
    line-height: 35px;
    margin-top: 40px;
    font-weight: 900;
    margin-left: -32px;
    margin-top: 55px;
    font-size: 24px;

    @include desktop-above {
      margin-left: -32px;
      padding-left: 32px;
      margin-top: 0px;
    }
  }

  &__form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -16px;

    @include desktop-above {
      margin-left: 0;
    }
  }

  &__input {
    border: 1px solid var(--color-gray-border);
    border-radius: 8px;
    padding: 12px 16px;

    &:focus {
      border-color: var(--color-turquoise-bright);
      outline: none;
    }

    &--resize {
      resize: none;
    }
  }

  &__alert {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-gray-med);
    font-weight: 700;
  }

  &__text-impotant {
    color: var(--color-pink);
  }

  &__button {
    align-self: flex-end;
    margin-top: -24px;

    @include hover {
      opacity: 0.3;
      transition-duration: var(--transform-duration);
    }
  }

  &__button-clouse {
    position: absolute;
    left: -10px;
    top: 32px;

    @include desktop {
      left: 16px;
      top: 24px;
    }
  }

  &--hidden {
    display: none;
  }
}
