.sidebar-menu {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: 100;
  min-height: 100vh;

  box-shadow: 16px 0 50px 0 var(--color-gray-border),
    -2px 0 4px 0 var(--color-gray-border);
  background-color: var(--color-white);

  @include desktop-above {
    min-height: 920px;
  }

  &__sidebar-footer {
    margin-top: auto;
    padding-top: 32px;
  }

  @include tablet-above {
    box-shadow: none;
  }

  @include desktop-above {
    min-height: 920px;
  }

  &--hidden {
    @include tablet {
      display: none;
    }
  }
}
