.sidebar-header {
  &__inner {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 18px;
  }

  
  &__logo {
    margin-left: 16px;

    @include desktop-above{
      margin-left: 0;
    }
  }

  

  &__clouse-button {
    @include desktop-above{
      display: none;
    }

  }
}
