@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Bold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
