body {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  background-color: var(--color-white);
}

p:not(:last-child) {
  margin-bottom: 24px;
}

.h1 {
  font-size: 28px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}


