:root {
  --color-beige-bg: #f8f8f8;
  --color-pink: #ff3e79;
  --color-black: #1b1c21;
  --color-white: #ffffff;
  --color-turquoise-border: #b8ffec;
  --color-turquoise-bright: #41f6d7;
  --color-turquoise-light: #d9fff5;
  --color-gray: #dddddd;
  --color-gray-border: #eaeaea;
  --color-gray-med: #7e7e82;
  --color-swiper-active: #b5b6bc;

  --transition-duration: 0.2s;
}
