@import "nullstyle",
"global",
"fonts",
"media",
"mixins",
"utils",
"variabl";

@import "block/header",
"block/button-menu",
"block/service-menu",
"block/main-menu",
"block/about",
"block/buttons-user",
"block/main-header",
"block/main-service",
"block/sidebar-menu",
"block/sidebar-header",
"block/sidebar-main-menu",
"block/sidebar-footer",
"block/language-block",
"block/brand-menu",
"block/brand-main-menu",
"block/button-menu--hollow",
"block/button-arrow-scroll",
"block/swiper-pagination-bullet",
"block/pagination-slider",
"block/main",
"block/technique-menu",
"block/technique-main-menu",
"block/price-menu",
"block/price-main-menu",
"block/button-order",
"block/footer",
"block/modal",
"block/button-show",
"block/overlay",
"block/section",
"block/full-container"
;
